# se omiten los precompilados
target
.DS_Store
*.class
**/*.class
**/version.properties

# compilados
*.war
**/*.war
*.ear
**/*.ear
*.ejb
**/*.ejb

#logs
logs/**
hs_err_pid*
**/*.log

#netbeans
**/build/**
**/nbproject/**
**/build.xml
!build.xml
**/manifest.mf
**/manifests.mf
**/.project
**/.metadata
**/bin/**
**/tmp/**
**/tmp/**/*
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.classpath
**/.classpath/*
**/.settings/*
**/.settings
**/.loadpath
**/.loadpath/*
**/catalog.xml
**/target/*
**/target
**/target/*.jar
#febos
.project
*/.project
**/.project
/web/src/main/webapp/bower_components/
**/thumbs.bd
