<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>

    </ul>
    <div class="page-toolbar">

    </div>
</div>
<h3 class="page-title">Mis evaluaciones </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div class="row" ng-controller="DashboardCtrl">

    <div class="col-md-12">


        <div class="list-group">
            <a href="javascript:;" class="list-group-item list-group-item-warning"> <i class="fa fa-file-text"></i> Matemáticas  <button class="btn btn-circle btn-default">Contestar</button> <button class="btn btn-circle btn-default"><i class="fa fa-eye"></i> Revisar</button><span class="badge badge-warning"> 3 / 10</span></a>
            <a href="javascript:;" class="list-group-item list-group-item-success">  <i class="fa  fa-file-text"></i>  Inglés <span class="badge badge-success"> 30 / 30</span></a>
            <a href="javascript:;" class="list-group-item list-group-item-danger">  <i class="fa fa-file-text"></i>  Hábitos de estudio <span class="badge badge-danger"> 0 / 30</span></a>
            <a href="javascript:;" class="list-group-item list-group-item-success"> <i class="fa fa-file-text"></i>  Estilo de Aprendizaje <span class="badge badge-success"> 30 / 30</span></a>
        </div>





    </div>



    <!-- FIN ESTO ES PP -->

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->