<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.datasource">java:/DiagnosticappDS</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Alumno"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Calendarizacion"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Carrera"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Categoria"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Credenciales"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Evaluacion"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Imagen"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Jornada"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Pregunta"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Respuesta"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Rol"/>
        <mapping class="cl.ciisa.ingeneria.diagnosticapp.model.Usuario"/>

        
    </session-factory>  
</hibernate-configuration>
