<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Reportes</a>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<h3 class="page-title">Generador de Reportes <small></small></h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div class="row" ng-controller="ReportesCtrl">
    

</div> <!-- Fin Ambito Controller -->


