<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Evaluaciones</a>
        </li>
                <li>
            <a href="#">Modificar</a>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<h3 class="page-title">Modificar evaluación <small></small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div class="row" ng-controller="EvaluacionesEditarCtrl">
    
  
</div>





<!-- FIN ESTO ES PP -->


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
            // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->